In [1]:
#1
print("hello,akhil")

hello,akhil

In [3]:
#2 Write a program to check if a number is even or odd
num=int(input("enter number"))
if num%2==0:
     print("it is even")
else:
    print("it is odd")

enter number 7

it is odd

In [1]:
#3 sum of all numbers 1-N
n=int(input("enter number"))
a=0
for i in range(1,n+1):
    a+=i
print(a)

enter number 10

55

In [24]:
#4 factorial of a number
n=int(input("enter number:"))
import math
a = 10
result = math.factorial(a)
print(result)

enter number: 10

3628800

In [2]:
#5 reverse string 
a="affu"
reverse_string=a[::-1]
print(reverse_string)

uffa

In [6]:
#6 prime number or not
num=int(input("enter the number"))
flag= False
if num ==1:
    print("print this is not a prime number")
elif num > 1:
    for i in range (2,num):
        if (num%i)==0:
          flag = True
          break
if flag:
   print(num,"not  a prime number")
else:
     print(num,"prime number")

enter the number 10

10 not  a prime number

In [2]:
#7 square root of a number
a=6
square=a*a
print(square)

36

In [7]:
#8 calculator
a=int(input("enter first num"))
b=int(input("enter second num"))
print(a*b)
print(a-b)
print(a/b)
print(a+b)
print(a%b)

enter first num 23
enter second num 10

230
13
2.3
33
3

In [7]:
#9 even numbers 1toN
n=int(input("enter the number"))
list=[]
for i in range(0,n,2):
    i%2==0
    list.append(i)
print(i)

enter the number 10

8

In [10]:
#10 given string is palindrome or not
str=("mom")
if str==str[: :-1]:
      print(str,"string is palindrome")
else:
    print(str,"string is not palindrome")

mom string is palindrome

In [1]:
#11 the largest number in the list
list=[1,22,33,12,44,25]
print('largest number:',max(list))

largest number: 44

In [6]:
#12 Generate a Fibonacci sequence up to N terms
N=int(input("enter the numbers of terms for Fibonacci sequence: "))
def fibonacci_sequence(a=0, b=1, count=N):
    print(a, end=' ')
    if count>1:
        fibonacci_sequence(b, a+b, count-1)
print("fibonacci_sequence up to",N,"terms")
fibonacci_sequence()

enter the numbers of terms for Fibonacci sequence:  10

fibonacci_sequence up to 10 terms
0 1 1 2 3 5 8 13 21 34

In [10]:
#13 count the no of vowels in a string
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
str="hello world"
print("number of vowels:",count_vowels(str))

number of vowels: 3

In [19]:
#14 leap year or not
year=int(input("enter the year"))
if year%4==0 and year%100!=0:
    print("leap year")
elif year%400==0 and year%100==0:
    print("leap year")
else:
    print("not leap year")

enter the year 2020

leap year

In [15]:
#15 assending order
list=[12,22,23,14,15,24]
list.sort()
print(list)

[12, 14, 15, 22, 23, 24]

In [19]:
#16 smallest number in list
list=[22,33,44,55,66]
list.sort()
print(list)
print("samllest number is:",list[0])

[22, 33, 44, 55, 66]
samllest number is: 22

In [20]:
#17 number of words in sentense
a=len("i love you mam" .split())
print(a)

4

In [23]:
#18 the sum of all digits in given number
my_list=[11,2,34,21]
sum_list=sum(my_list)
print(sum_list)

68

In [1]:
#19 remove duplicate elements in a list
a=[11,12,23,33,23,12,33,44,55]
list=list(set(a))
print(list)

[33, 11, 12, 44, 55, 23]

In [3]:
#20 Convert all string values in list to UPPER case
list=['akhi','vinnu','shubbu']
uppercase=[word.upper () for word in list]
print(uppercase)

['AKHI', 'VINNU', 'SHUBBU']

In [10]:
#21 Populate new list with squares from given list using while loop
list=[2,4,5,33,22,11]
my_list=[]
index=0
while index < len(list):
    sqr=list[index]**2
    my_list.append(sqr)
    index +=1
print(my_list)

[4, 16, 25, 1089, 484, 121]

In [8]:
#22 Populate new list with squares from given list using for loop
list=[1,2,3,4,5,6]
for index in range(len(list)):
    list[index]**2
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#23

In [2]:
#24

In [29]:
#25 to check if a number is positive, negative, or zero. using 'if-else'
num=int(input("enter the number"))
if num < 0:
   i==-num
   print("the number is negitive")
elif num == 0:
    print("the number is zero")
else:    
     print("the number is opssitive")

enter the number 5

the number is opssitive

In [ ]:
#26 if a year is a leap year using 'if-else'
year=int(input("enter the year"))
if year%4==0 and year%100!=0:
    print("leap year")
elif year%400==0 and year%100==0:
    print("leap year")
else:
    print("not leap year")

In [30]:
#27 Check if a given number is even or odd using if else
num=int(input("enter the number"))
if num%2==0:
    print("is even number")
else:
    print("is odd number")

enter the number 13

is odd number

In [31]:
#28 Implement a simple grading system where you input a student's score and print their grade using ifelse
n=int(input("enter the score"))
if n >= 75 and n <100:
    print("1st class")
elif n >=55 and n <75:
    print("2nd class")
elif n >=35 and n <55:
    print("3rd class")
else:
    print("fail")

enter the score 55

2nd class

In [ ]:
#29 if a number is a multiple of 5 or 7 using if-else
n=int(input("enter the number:"))
if n%5==0 or num%7==0:
    print(n,"the multiple of 5 or 7.")
else:
    print(n,"is not a multiple of 5 or 7.")

In [34]:
#30 Find the large of three numbers using if-else
list=[21,23,44,55,65,76,44]
if list:
    list.sort()
    print("1st largest number is:",list[-1])
    print("2nd largest number is:",list[-2])
    print("3rd largest number is:",list[-3])
else:
    ("There is no such a list")

1st largest number is: 76
2nd largest numner is: 65
3rd largest number is: 55

In [24]:
#31 Check if a given character is a vowel or a consonant using if-else
char=input("enter a charecter:")
vowel='aeiouAEIOU'
count=0
for c in char:
   if c in vowel:
      count += 1
      print(c,"is a vowel.")
else:
    print(c,"thire is not a vowel.")
print("Total number of vowels in the given character:", count)

enter a charecter: akhil

a is a vowel.
i is a vowel.
l thire is not a vowel.
Total number of vowels in the given character: 2

In [22]:
#32 the BMI of a person and categorize it  useing 'if-else' (e.g., underweight, normal, overweight) 

bmi=int(input("enter the weight"))
if bmi <=70:
    print("under weight")
elif bmi<60:
    print("normal weight")
else:
    print("over weight")

enter the weight 65

under weight

In [23]:
#33 to print all the numbers from 1 to N using a 'for' loop (where N is entered by the user)
n=int(input("enter the number"))
for i in range(1,n):
 print(i)

enter the number 6

1
2
3
4
5

In [26]:
#34 to calculate the sum of all even numbers from 1 to N using a for loop
n=int(input("enter number"))
sum=0
for i in range(2,n+1,2):
    sum+=i
print(sum)

enter number 10

30

In [27]:
#35 The multiplication table of a given number using a for loop
num=int(input("enter number"))
for i in range(1,11):
    print(num,'*',i,num*i)

enter number 5

5 * 1 5
5 * 2 10
5 * 3 15
5 * 4 20
5 * 5 25
5 * 6 30
5 * 7 35
5 * 8 40
5 * 9 45
5 * 10 50

In [28]:
#36 to calculate the factorial of a number using a for loop
n=int(input("enter number"))
for i in range(1,n+1):
    if n%i==0:
            print(i)

enter number 100

1
2
4
5
10
20
25
50
100

In [12]:
#37 a simple countdown timer that starts from N and counts down to 1 using for loop
n=int(input("enter the  number for countdown:"))
print("countdown start:")
for i in range(n,0,-1):
    print(i)
print("blast off!")

enter the  number for countdown: 5

countdown start:
5
4
3
2
1
blast off!

In [10]:
#38 Find the sum of the square of all numbers from 1 to N using for loop
n=int(input("enter number"))
sum=0
for i in range(0,n):
    sum+=i**n
    print(sum)

enter number 4

0
1
17
98

In [11]:
#39 Calculate the product of all elements in a list using for loop
n=int(input("enter number"))
total=0
for i in range(0,n):
    total+=i
    print(total)

enter number 5

0
1
3
6
10

In [ ]:
#40 that counts the number of in a given number using for loop

In [9]:
#41 Find and print all the even numbers between 1 and N that are also divisible by 3 using if-else and  for loop
n=int(input("enter number"))
for i in range(0,n):
    if i%2==0 and i%3==0:
        print(i)

enter number 20

0
6
12
18

In [4]:
#42  the sum of squares of all even numbers from 1 to N using if-else and  for loop
n=int(input("enter number"))
for i in range(2,n+1,2):
    sqr=i**2
    print(sqr)

enter number 10

4
16
36
64
100

In [ ]:
#43 to find and print the first N Fibonacci numbers using if-else and  for loop

In [ ]:
#44 Calculate the sum of all prime numbers from 1 to N using a for-loop

In [14]:
#45
n=int(input("enter number"))
factors=[]
for i in range(1,n+1):
    if n%i==0:
        factors.append(i)
        print("factors",n,"are",factors)

enter number 6

factors 6 are [1]
factors 6 are [1, 2]
factors 6 are [1, 2, 3]
factors 6 are [1, 2, 3, 6]